<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chch.skj.auth_server.mapper.MemberDao">

<select id="selectUserUserIdAndPassword" resultType="com.chch.skj.auth_server.auth.dto.UserDto"
parameterType="map">
select uuid, userId, userPassword, `role`, createTime, expireTime, isDelete 
from t_user
where userId = #{userId} and userPassword = #{passWord}
</select>

</mapper>